@page "{id}"
@using FourWheels.Repository.Entities
@model FourWheels.UI.Pages.Details
@{
    ViewData["Title"] = "Details";
}

<div class="container mt-3">
    <hr>
    <div class="row">
        <div class="col-6">
            <h1>@Model.Bil.Registreringsnummer</h1>
        </div>
        <div class="col-6">
            <h1>@Model.Bil.Producent @Model.Bil.Model</h1>
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0">Skal udføres:&nbsp;</h5>
                    <p>@Model.NyesteArbejdsOrder.Servicetype.ServiceType</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="row justify-content-md-around m-1">
                <address>
                    <strong>@Model.NyesteArbejdsOrder.Bil.Kunde.Fornavn</strong><br>
                    <strong>@Model.NyesteArbejdsOrder.Bil.Kunde.Efternavn</strong><br>
                    <strong>@Model.NyesteArbejdsOrder.Bil.Kunde.Bynavn</strong><br>
                    <strong>@Model.NyesteArbejdsOrder.Bil.Kunde.VejNavn @Model.NyesteArbejdsOrder.Bil.Kunde.Vej_Nummer</strong><br>
                    <strong>@Model.NyesteArbejdsOrder.Bil.Kunde.Email</strong><br>
                </address>
            </div>
        </div>
    </div>
    <h2>Tidligere arbejde&nbsp;</h2>
    <hr>
    <div class="w-100">
        @foreach (Arbejdsordrer ao in Model.ArbejdsOrdrere)
        {
            <div class="ms-auto my-auto mt-2">
                <div class="row">
                    <div class="col-5">
                        <h4>@ao.Mekaiker.Fornavn</h4>
                    </div>
                    <div class="col-6">
                        <h5 class="text-right">
                            <span aria-hidden="true"></span>@ao.Oprettet
                        </h5>
                    </div>
                </div>
                <h5>
                    <span class="badge bg-success">@ao.Servicetype.ServiceType</span>
                </h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, recusandae, corporis, tempore nam fugit deleniti sequi excepturi quod repellat laboriosam soluta laudantium amet dicta non ratione distinctio nihil dignissimos esse!</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
                </ul>
            </div>
            <hr/>
        }
    </div>
</div>